            /***********************CSS*****************************/
            /*********************************
font-family: 'Roboto', sans-serif;
font-family: 'Srisakdi', cursive;
font-family: 'Sonsie One', cursive;
font-family: 'Bilbo Swash Caps', cursive;
*********************************/
            
            a,
            li,
            dt,
            dd,
            span {
                font-family: 'Roboto', sans-serif;
                cursor: pointer;
            }
            
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            body {
                position: relative;
                background-color: #1f69ec;
            }
            
            body .img1 {
                z-index: 1;
                position: absolute;
                top: 15%;
                left: 1%;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }
            /* Cconteneur principal*/
            
            .conteneur {
                width: 100%;
                height: 100vh;
                background: #1f69ec;
                margin-bottom: 20px;
            }
            /*Les elements de la navigation*/
            
            .navbar {
                background-color: #000;
                display: flex;
                justify-content: space-between;
                position: fixed;
                top: 0;
                z-index: 1;
                width: 100%;
            }
            
            #check {
                display: none;
            }
            
            .open-icon {
                color: white;
                font-size: 40px;
                position: absolute;
                right: 10px;
                line-height: 80px;
                display: none;
            }
            
            i {
                color: white;
                font-size: 40px;
            }
            
            .fa-times {
                opacity: 0;
            }
            
            h1 {
                cursor: pointer;
                color: red;
                line-height: 80px;
                margin-left: 60px;
                transition: .5s ease-in-out;
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -ms-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                font-family: 'Sonsie One', cursive;
            }
            
            .navigation {
                display: flex;
                margin-right: 30px;
                transition: 1s ease-in-out;
                -webkit-transition: 1s ease-in-out;
                -moz-transition: 1s ease-in-out;
                -ms-transition: 1s ease-in-out;
                -o-transition: 1s ease-in-out;
            }
            
            .top50 {
                display: flex;
            }
            
            .navigation li {
                list-style-type: none;
            }
            
            .navigation li a {
                color: white;
                font-weight: 700;
                line-height: 80px;
                margin: 10px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
            }
            
            .navigation li a:hover {
                color: #d419ef;
            }
            /*Element de la navigation*/
            /*Les element du logo*/
            
            .logo {
                height: 450px;
                position: relative;
                margin-top: 80.1px
            }
            
            .bg {
                width: 100%;
                height: 480px;
                position: absolute;
                background-color: rgba(9, 7, 10, 0.5);
            }
            
            .Logo {
                height: 450px;
                width: 100%;
            }
            
            .t-2 {
                color: white;
                font-weight: bolder;
                margin: 0;
                position: absolute;
                text-align: center;
                top: 90%;
                width: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                font-family: 'Srisakdi', cursive;
                cursor: pointer;
            }
            
            h3 {
                margin-top: 3px;
                color: white;
                position: absolute;
                top: 35%;
                left: 20%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                font-family: 'Bilbo Swash Caps', cursive;
                font-size: 20px;
                letter-spacing: 1.5pt;
                cursor: pointer;
                text-align: center;
            }
            
            h2 {
                margin-top: 30px;
                color: white;
                position: absolute;
                top: 97%;
                width: 100%;
                text-align: center;
                cursor: pointer;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                font-family: 'roboto', sans-serif;
                font-size: 20px;
                letter-spacing: 1.5pt;
            }
            /*Les element du logo*/
            /***********Lee blog se la bage*********/
            
            .blog {
                //border: 1px solid black;
                margin: 10% 20% 4% 20%;
                padding: 10px;
                background-color: rgb(214, 218, 226);
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                box-shadow: inset -4px -3px 6px #bdb4b4, inset 6px 5px 6px #ffffffa8;
                text-align: center;
            }
            
            .blog .h4 {
                font-family: 'Roboto', sans-serif;
            }
            
            .blog-list-items {
                display: block;
                padding: 3px;
            }
            
            .blog-list-items li {
                list-style-type: none;
                font-family: 'Roboto', sans-serif;
                margin: 3px;
            }
            
            .blog-list-items li:before {
                content: '<♦>';
                color: blue;
                margin-right: 3px;
            }
            
            .blue {
                color: blue;
            }
            
            .dfn {
                display: grid;
                width: 100%;
                position: relative;
                grid-template-areas: ".site .avantage .role";
            }
            
            .site {
                margin: 0 20px 10px 20px;
                padding: 20px 10px 20px 10px;
                color: #5e2901;
                text-align: justify;
                background-color: #ffffff;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                box-shadow: -1px -1px 6px 0px #000000, 4px 3px 10px #ffffff;
                position: relative;
            }
            
            .site dl dt {
                background: linear-gradient(#d6a505, orange);
                position: absolute;
                height: 50px;
                text-align: center;
                bottom: 0px;
                width: 100%;
                margin: 0;
                left: 0;
                font-family: 'roboto' sans-serif;
            }
            
            .site dl dt>span {
                text-align: center;
                top: 10px;
                position: relative;
                font-size: 30px;
                cursor: pointer;
                font-family: 'roboto' sans-serif;
            }
            
            .avantage {
                margin: 0 0 10px 0;
                padding: 20px 10px 20px 10px;
                color: #5e2901;
                text-align: justify;
                background-color: #ffffff;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                box-shadow: -1px -1px 6px 0px #000000, 4px 3px 10px #ffffff;
                position: relative;
            }
            
            .avantage dl dd ul li {
                list-style-type: none;
            }
            
            .avantage dl dd ul li:before {
                content: '♠';
                color: red;
            }
            
            .avantage dl dt {
                background: linear-gradient(#d6a505, orange);
                position: absolute;
                height: 50px;
                text-align: center;
                bottom: 0px;
                width: 100%;
                margin: 0;
                left: 0;
                font-family: 'roboto' sans-serif;
            }
            
            .avantage dd>ul>h5 {
                padding-bottom: 10px;
                color: rgb(0, 4, 255);
            }
            
            .avantage dl dt>span {
                text-align: center;
                top: 10px;
                position: relative;
                font-size: 30px;
                cursor: pointer;
                font-family: 'roboto' sans-serif;
            }
            
            .role {
                margin: 0 20px 10px 20px;
                padding: 20px 10px 20px 10px;
                color: #5e2901;
                text-align: justify;
                background-color: #ffffff;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                box-shadow: -1px -1px 6px 0px #000000, 4px 3px 10px #ffffff;
                position: relative;
            }
            
            .role dl dt {
                background: linear-gradient(#d6a505, orange);
                position: absolute;
                height: 50px;
                text-align: center;
                bottom: 0px;
                width: 100%;
                margin: 0;
                left: 0;
                font-family: 'roboto' sans-serif;
            }
            
            .role dl dt>span {
                text-align: center;
                top: 10px;
                position: relative;
                font-size: 30px;
                cursor: pointer;
                font-family: 'roboto' sans-serif;
            }
            
            .role dl dd>span {
                color: black;
                font-weight: bolder;
            }
            /*Motivation de créer*/
            
            .motiv {
                display: flex;
                justify-content: space-around;
                background-color: white;
                margin: 10% 20%;
                padding: 10%;
                box-shadow: -1px -1px 6px 0px #000000, 4px 3px 10px #ffffff;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                position: relative;
            }
            
            .motiv>p {
                position: absolute;
                z-index: 1;
                top: 30%;
                left: 20%;
                transform: translate(-50%);
                -webkit-transform: translate(-50%);
                -moz-transform: translate(-50%);
                -ms-transform: translate(-50%);
                -o-transform: translate(-50%);
            }
            
            .font {
                background: orange;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                clip-path: ellipse(50% 60% at 10% 50%);
            }
            
            .fleche {
                position: absolute;
                right: 15%;
                top: 50%;
                transform: translate(-50%);
                -webkit-transform: translate(-50%);
                -moz-transform: translate(-50%);
                -ms-transform: translate(-50%);
                -o-transform: translate(-50%);
                z-index: 1;
            }
            
            .fleche a {
                color: white;
                padding: 5px;
                background-color: blue;
                text-decoration: none;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
            
            .fleche a:hover {
                background-color: black;
                color: white;
            }
            
            .fleche .fa-location-arrow {
                position: absolute;
                right: 28%;
                top: -1.5em;
                color: #000000;
                transform: translateY(-20px) rotate(135deg);
                -webkit-transform: translateY(-20px) rotate(135deg);
                -moz-transform: translateY(-20px) rotate(135deg);
                -ms-transform: translateY(-20px) rotate(135deg);
                -o-transform: translateY(-20px) rotate(135deg);
                animation: anime 1s infinite alternate;
                -webkit-animation: anime .4s infinite alternate;
            }
            
            @keyframes anime {
                0% {
                    transform: translateY(-20px) rotate(135deg);
                    -webkit-transform: translateY(-20px) rotate(135deg);
                    -moz-transform: translateY(-20px) rotate(135deg);
                    -ms-transform: translateY(-20px) rotate(135deg);
                    -o-transform: translateY(-20px) rotate(135deg);
                }
                100% {
                    transform: translateY(-3px) rotate(135deg);
                    -webkit-transform: translateY(-3px) rotate(135deg);
                    -moz-transform: translateY(-3px) rotate(135deg);
                    -ms-transform: translateY(-3px) rotate(135deg);
                    -o-transform: translateY(-3px) rotate(135deg);
                }
            }
            /***********Photo***************/
            
            .alert-info {
                position: relative;
            }
            
            .alert-info .pret {
                position: absolute;
                top: 80%;
                left: 40%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                background-color: rgb(255, 255, 255, 0.5);
                padding: 5px;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
            }
            
            .whit {
                text-decoration: none;
                color: red;
            }
            
            .whit:hover {
                color: white;
            }
            /************Banniere***************/
            /***********Lee blog se la bage*********/
            /***********************Footer****************************/
            
            .footer {
                display: flex;
                justify-content: center;
                background: rgba(255, 255, 255);
                padding: 10px;
                position: relative;
            }
            
            .footer #contacts {
                position: relative;
                display: flex;
                justify-content: space-around;
                width: 100%;
                flex-wrap: wrap;
            }
            
            .footer #contacts a i {
                color: #673ab7;
                padding: 6px 10%;
                margin: 5px 5px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
            
            .footer .name {
                font-size: 10px;
                margin: 10px;
            }
            
            .footer #contacts>.fb a i:hover {
                color: blue;
            }
            
            .footer #contacts a {
                color: #673ab7;
                text-decoration: none;
                font-weight: bold;
            }
            
            .footer #contacts>.fb a:hover {
                color: blue;
            }
            
            .footer #contacts #wh i:hover {
                color: green;
            }
            
            .footer #contacts #wh a:hover {
                color: green;
            }
            
            .footer #contacts>#lin a:hover {
                color: blue;
            }
            
            .footer #contacts>#lin i:hover {
                color: blue;
            }
            
            .footer #contacts>#ph i:hover {
                color: green;
            }
            
            .footer #contacts>#ph a:hover {
                color: green;
            }
            
            .footer #contacts>#ml i:hover {
                color: rgb(228, 19, 19);
            }
            
            .footer #contacts>#ml a:hover {
                color: rgb(243, 21, 32);
            }
            
            .copy>h2 {
                font-size: 15px;
            }
            
            @media screen and (min-width: 900px) {
                h1 {
                    margin-left: 150px;
                    transition: .5s ease-in-out;
                    -webkit-transition: .5s ease-in-out;
                    -moz-transition: .5s ease-in-out;
                    -ms-transition: .5s ease-in-out;
                    -o-transition: .5s ease-in-out;
                }
                .navigation {
                    margin-right: 20px;
                    transition: 1s ease-in-out;
                    -webkit-transition: 1s ease-in-out;
                    -moz-transition: 1s ease-in-out;
                    -ms-transition: 1s ease-in-out;
                    -o-transition: 1s ease-in-out;
                }
                .navigation li a {
                    text-transform: uppercase;
                }
            }
            
            @media screen and (max-width:770px) {
                h1 {
                    font-size: 18px;
                    margin-left: 10px;
                    transition: .5s ease-in-out;
                    -webkit-transition: .5s ease-in-out;
                    -moz-transition: .5s ease-in-out;
                    -ms-transition: .5s ease-in-out;
                    -o-transition: .5s ease-in-out;
                }
                .navigation {
                    position: absolute;
                    width: 50%;
                    margin: 0;
                    height: 100vh;
                    z-index: 1;
                    background-color: #000000;
                    top: -100em;
                    right: 0;
                    transition: .7s ease-in-out;
                    -webkit-transition: .7s ease-in-out;
                    -moz-transition: .7s ease-in-out;
                    -ms-transition: .7s ease-in-out;
                    -o-transition: .7s ease-in-out;
                }
                .top50 {
                    margin-top: 50px;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: column;
                }
                .close-icon {
                    opacity: 1;
                }
                .fa-times {
                    opacity: 1;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
                #check:checked~ul {
                    top: 0px;
                    transition: .7s ease-in-out;
                    -webkit-transition: .7s ease-in-out;
                    -moz-transition: .7s ease-in-out;
                    -ms-transition: .7s ease-in-out;
                    -o-transition: .7s ease-in-out;
                }
                .open-icon {
                    display: block;
                }
            }
            
            @media screen and (max-width:1141px) {
                .conteneur .logo>h1 {
                    font-size: 17px;
                    text-align: center;
                }
                .conteneur .logo>h2 {
                    font-size: 15px;
                }
            }
            
            @media screen and (max-width:768px) {
                .conteneur .logo>h3 {
                    top: 40%;
                }
            }
            
            @media screen and (max-width:1024px) {
                .conteneur .logo>h3 {
                    top: 50%;
                }
                .motiv {
                    display: none;
                }
            }
            
            @media screen and (max-width:995px) {
                .motiv {
                    display: none;
                }
            }
            
            @media screen and (max-width:1266px) {
                .motiv {
                    display: none;
                }
            }
            
            @media screen and (max-width:1180px) {
                .dfn .dimunier {
                    font-size: 19px;
                }
            }
            
            @media screen and (max-width:965px) {
                // .conteneur .logo>h3 {
                //     font-size: 10px;
                // }
                .conteneur .logo>h2 {
                    font-size: 12px;
                    text-align: center;
                }
                .dfn {
                    display: flex;
                    width: 100%;
                    position: relative;
                    flex-direction: column;
                    justify-content: center;
                }
                .avantage {
                    margin: 20px 20px 20px 20px;
                    padding: 10px 10px 40px 10px;
                }
                .site {
                    padding: 10px 10px 55px 10px;
                }
            }