    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /**************************header****************************/
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header .logo img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: rgb(25, 46, 236);
        margin-bottom: 30px
    }
    
    .header .titre h1 {
        border-bottom: 5px solid black;
    }
    
    .header .navbar ul {
        display: flex;
    }
    
    .header .navbar ul li {
        list-style-type: none;
        margin: 0 15px;
    }
    
    .header .navbar ul li a {
        text-decoration: none;
        color: red;
        font-size: 18px;
    }
    
    .header .navbar ul li a:hover {
        color: #6C2A6A;
    }
    /**************************header****************************/
    /**************************nav****************************/
    .nav{
        background-color: rgb(0, 195, 255);
        text-align: center
    }
    .nav ul {
        background-color: rgb(22, 228, 255);
        display: flex;
        justify-content: center;
    }
    
    .nav ul li {
        list-style-type: none;
        margin: 0 15px;
    }
    
    .nav ul li a {
        text-decoration: none;
        line-height: 50px;
        color: black;
    }
    
    .nav ul li a:hover {
        color: white;
    }
    
    .nav input {
        display: none;
    }
    
    .nav .open {
        display: none;
        font-size: 40px;
    }
    
    .nav ul .close {
        display: none;
        font-size: 40px;
    }
    /**************************nav****************************/
    /**************************blog****************************/
    
    .covid {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #dcdcdc;
        width: 100%;
    }

    .covid img{
        width: 100%;
        height:300px;
    }
    
    .covid h1,
    .stat h1,
    .contamination h1,
    .reunion h1,
    .remede h1 {
        margin: 0 0 50px 10px;
        color: red;
        border-bottom: 2px solid black;
        align-self: flex-start;
    }
    
    .covid p,
    .contamination p,
    .reunion p,
    .remede p {
        text-align: center;
        padding: 0 20px;
    }
    
    .covid p .red {
        color: red;
    }
    
    .stat {
        // height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .statistique {
        display: flex;
        justify-content: center;
    }
    
    .statistique .box {
        margin: 20px;
    }
    
    .stat h1 {
        align-self: flex-start;
    }
    
    .stat h3 {
        text-align: center;
    }
    
    .stat .cdv .drapeau {
        height: 12px;
        width: 20px;
        background: linear-gradient(to right, orange, white, green);
        display: inline-block;
    }
    
    .contamination,
    .reunion,
    .remede {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #dcdcdc;
    }
    
    .remede {
        background: #ffffff;
    }
    /**************************blog****************************/
    /**************************footer****************************/
    
    .footer {
        background-color: #6C2A6A;
        margin: 0 0 0 0;
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        z-index: 1111111;
        clear: both;
    }
    
    .footer h1 {
        text-align: center;
        color: white;
        border-bottom: 2px solid white;
    }
    
    .footer .contact {
        display: flex;
        justify-content: center;
    }
    
    .footer .contact ul {
        display: flex;
    }
    
    .footer .contact ul li {
        list-style-type: none;
        margin: 15px 5px;
    }
    
    .footer .contact ul li a.fb {
        background: #1877f2;
        padding: 5px;
        border-radius: 50px;
        color: white;
    }
    
    .footer .contact ul li a.wh {
        background: #37fd1d;
        padding: 5px;
        border-radius: 50px;
        color: white;
    }
    
    .footer .contact ul li a.tel {
        background: #644cea;
        padding: 5px;
        border-radius: 50px;
        color: white;
    }
    
    .footer .contact ul li a.lin {
        background: #00a0dc;
        padding: 5px;
        border-radius: 50px;
        color: white;
    }
    
    .footer .contact ul li a.gle {
        background: #db4437;
        padding: 5px;
        border-radius: 50px;
        color: white;
    }
    
    .footer .copy {
        text-align: center;
    }
    
    .footer .copy .blue {
        color: #80f10e;
    }
    
    .footer .copy {
        color: rgb(255, 255, 255);
    }
    /**************************footer****************************/
    /**************************responsive****************************/
    
    @media screen and (max-width:513px) {
        .header .logo img {
            margin: 30px 0;
        }
        .header {
            flex-direction: column;
        }
        .header .titre h1 {
            margin: 0 0 30px 0;
        }
        .header .navbar ul {
            margin: 0 0 30px 0;
        }
        .nav .open {
            display: initial;
            width: 100%;
        }
        .nav ul .close {
            display: initial;
            position: absolute;
            top: 10px;
            right: 20px;
        }
        .nav ul {
            position: absolute;
            width: 100%;
            background: #6C2A6A;
            height: 100vh;
            top: -100rem;
            z-index: 11111;
            flex-direction: column;
            transition: 750ms;
        }
        .nav input:checked~ul {
            top: 0;
            transition: 750ms;
        }
    }
    /**************************responsive****************************/